
{% extends "base.html" %}
{% block title %}Liste des produits {% endblock %}

{% block content %}
    <h1>Nos Produits</h1>
    <table>
        <tr>
        {% for produit in produits %}
            <td>
                <a id="lien" href="/produit/{{ produit.id }}">
                    <img class="image" 
                    
                    src="{{ url_for('static', filename='images/' + produit.image) }}" width="100"><br>
                    <div >{{ produit.nom }} - {{ produit.prix }} dt</div>
                </a>
            </td>
        {% endfor %}
        </tr>
    </table>
{% endblock %}
    
   

